<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tosslab.jandi.app">

    <application
        android:name=".JandiApplication"
        android:allowBackup="true"
        android:icon="@drawable/jandi_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/JandiTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/origin_play_service_version"
            tools:replace="android:value" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.FlushInterval"
            android:value="1000" />
        <!-- temp comment for protect ANR (Play-Service-Base : 6.5.87 issue
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
        -->
        <activity
            android:name=".ui.signup.SignUpActivity_"
            android:label="@string/jandi_signup_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.IntroActivity_"
            android:logo="@drawable/jandi_actionb_logo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.IntroMainActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JandiTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.account.AccountHomeActivity_"
            android:label="@string/jandi_select_team"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".ui.team.info.TeamDomainInfoActivity_"
            android:label="@string/team_info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" />
        <activity
            android:name=".ui.maintab.MainTabActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.MessageListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.message.v2.MessageListV2Activity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.maintab.file.FileListActivity_"
            android:label="@string/jandi_tab_file"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.filedetail.FileDetailActivity_"
            android:label="@string/title_file_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.fileexplorer.FileExplorerActivity"
            android:label="@string/jandi_title_activity_file_explorer"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.settings.SettingsActivity_"
            android:label="@string/jandi_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.member.MemberProfileActivity_"
            android:label="@string/jandi_profile_actionb"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.member.TeamInfoActivity_"
            android:label="@string/jandi_team_member"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invites.InviteActivity_"
            android:label="@string/menu_entity_invite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.entities.EntityChooseActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.photo.PhotoViewActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:logo="@drawable/jandi_actionb_logo"
            android:theme="@style/JandiTheme.ActionBarOverlay" />
        <activity
            android:name=".ui.term.TermActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.maintab.topic.create.TopicCreateActivity_"
            android:label="@string/jandi_create_channel"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.email.EmailChooseActivity_"
            android:label="@string/jandi_choose_email"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.message.members.TopicMemberActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/jandi_topic_paricipants"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.search.main.view.SearchActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/jandi_topic_paricipants"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.web.InternalWebActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="jandi-internal-web" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".push.JandiBroadcastReceiver">
            <intent-filter>
                <action android:name="com.tosslab.jandi.app.Push" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.interfaces.JandiInterfaceActivity_">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tosslabjandi" />
            </intent-filter>
        </activity>

        <activity
            android:name=".push.PushInterfaceActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/JandiTheme.PushIntro" />

        <activity
            android:name=".ui.share.MainShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Jandi.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <!-- Google Play Campaign Measurement -->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

    // for samsung or sony device to show badge
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
</manifest>
