<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tosslab.jandi.app" >

    <application
        android:name=".JandiApplication"
        android:allowBackup="true"
        android:icon="@drawable/jandi_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/JandiTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker"/>
        <activity
            android:name=".ui.LoginActivity_"
            android:logo="@drawable/jandi_actionb_logo"
            android:theme="@style/JandiTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainTabActivity_"
            android:label="@string/app_name"
            android:theme="@style/JandiSearchTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MessageListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.FileDetailActivity_"
            android:label="@string/title_file_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.FileExplorerActivity"
            android:label="@string/jandi_title_activity_file_explorer"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.SettingsActivity_"
            android:label="@string/jandi_setting_actionb"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ProfileActivity_"
            android:label="@string/jandi_profile_actionb"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hideybarphotoviewscreen.HideyBarPhotoViewScreen"
            android:label="@string/app_name"
            android:logo="@drawable/jandi_actionb_logo"
            android:theme="@style/AppTheme_ActionBarOverlay">
        </activity>
        <receiver
            android:name=".ui.JandiGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.tosslab.jandi.app" />
            </intent-filter>
        </receiver>
        <service android:name=".ui.JandiGCMIntentService" />
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.tosslab.jandi.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.tosslab.jandi.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

</manifest>
